{% extends 'home.html' %}
{% block greeting %}
<p1> This is overriden from base html </p1>
<a class="btn" href="{{ url_for('view.home') }}">Redirect to homepage</a>

<form method="POST" class="form-register" style="color:white">
    {{ form.csrf_token }}

	{{ form.username.label }}   <!-- display label called `username` -->
	{{ form.username(class="form-control", placeholder="User Name") }}   <!-- take input from user here, we can then fetch it from Flask with `form.username.data -->
    {{ form.password.label }}   <!-- display label called `username` -->
	{{ form.password(class="form-control", placeholder="User Name") }}   <!-- take input from user here, we can then fetch it from Flask with `form.username.data -->

    <!-- implementation of flash() function from Flask -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <div class="message_flash">{{ message }}</div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- print data passed from Flask -->
    {% for entry in msg %}
        <p1> {{ entry }} </p1>
    {% endfor %}

    <br>

    <br>
    {{ form.submit(class='btn btn-lg btn-primary') }}
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}

    {% for entry in data %}
        <p1> {{ entry }} </p1>
    {% endfor %}
    <br>

    <div class="checkbox mb-3">
        <h6>Don't have an account?</h6>
        <a class="btn btn-small btn-secondary" href="{{ url_for('auth.register') }}">Register</a>
    </div>

</form>

{% endblock %}