{% extends 'home.html' %}
{% block greeting %}
<p1> This is overriden from base html </p1>
<a class="btn" href="{{ url_for('view.home') }}">Redirect to homepage</a>

<form method="POST" class="form-register" style="color:white">
    {{ form.csrf_token }}

	{{ form.username.label }}   <!-- display label called `username` -->
	{{ form.username(class="form-control", placeholder="User Name") }}   <!-- take input from user here, we can then fetch it from Flask with `form.username.data -->
    <br>
    {{ form.submit(class='btn btn-lg btn-primary') }}
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}

    <br>

    <label for="title">Title</label>
    <br>
    <input type="text" name="title"
           placeholder="Message title"
           value="{{ request.form['title'] }}"></input>
    <br>

    <label for="content">Message Content</label>
    <br>
    <textarea name="content"
              placeholder="Message content"
              rows="15"
              cols="60"
              >{{ request.form['content'] }}</textarea>
    <br>
    <button type="submit">Submit</button>
</form>

{% endblock %}